@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

/* scrollbar tipis */
* {
  scrollbar-width: thin;
  scrollbar-color: #c7d2fe transparent;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #c7d2fe;
  border-radius: 999px;
}
